*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("tech.jpg"); 
  background-repeat: repeat-y;
  background-size: cover
}
a{
  text-decoration: none;
  font-size: 18px;
  color: rgb(8, 6, 31);
  font-family: sans-serif;
}
.navbar{
  display: flex;
  padding: 10px 20px;
  width: 100%;
  background-color: rgb(111, 165, 118);
  align-items: center;
}
.navbar ul{
  flex: 1;
  text-align: right;
}
.navbar ul li{
  display: inline-block;
margin: 0 35px;
}
.logo{
  font-size: 30px;
  color: rgb(26, 29, 65);
}
li a{ display: block;
  border-radius: 10px;
  color: black;
  text-decoration:none;
  padding: 5px;
  }
  
  li a:hover,
  li a.active
  {
    background-color:rgb(37, 31, 31);
    color: white;
  }
.navbar #icon{
  color: white;
}